@font-face {
  font-family: 'Mono';
  src: 
  url('../fonts/MaisonNeue-Mono.woff2') format('woff2'), 
  url('../fonts/MaisonNeue-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}