.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-icon {
  width: 1em;
}

.icon-logo {
  width: 7.46484375em;
}

.icon-icon {
  font-size: 3rem;
}

.loader .icon-icon {
  font-size: 8rem;
}

.icon-logo {
  font-size: 4rem;
  color: $color--white;
}

.icon-logo a:hover {
  color: $color--black;
}


.holding .icon-logo {
  font-size: 4rem;
  color: $color--black;
}