---
layout: default
---

<!-- Image -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="medium-10 large-10 cell" data-aos="fade-in">
    <img src="{{page.image}}" alt="About"/>
	</div>
</div>
<!-- End Image -->

<!-- Text -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="small-11 medium-10 large-8 cell" data-aos="fade-in">
    {{content}}
	</div>
</div>
<!-- End Text -->

<!-- Links -->
<div class="grid-x grid-padding-x grid-padding-y align-center about__links">
	<div class="medium-10 large-8 cell" data-aos="fade-in">
  	<ul class="vertical menu align-center">
      <li><a href="https://www.dropbox.com/s/jboqkmxduoayuxd/OJandFridel_Biography.pdf?dl=1">Biography – PDF</a></li>
      <li><a href="https://www.dropbox.com/s/ihrxpey5pzbiocg/OJ%2BFridel-Press-01.jpg?dl=1">Press Image 01 — JPG</a></li>
      <li><a href="https://www.dropbox.com/s/exjy3hh4up7leo7/OJ%2BFridel-Press-02.jpg?dl=1">Press Image 02 — JPG</a></li>
      <li><a href="https://www.dropbox.com/s/9wixeb28tve2bkn/OJ%2BFridel-Press-03.jpg?dl=1">Press Image 03 — JPG</a></li>
      <li><a href="https://www.dropbox.com/s/wederoti6yfeyns/OJ%2BFridel-Press-04.jpg?dl=1">Press Image 04 — JPG</a></li>
      <li><a href="https://www.dropbox.com/s/xps6if64nvpssgw/OJ%2BFridel-Press-05.jpg?dl=1">Press Image 05 — JPG</a></li>
      <li><a href="https://www.dropbox.com/s/3enj3qqy4hb6wqk/OJandFridel_PressKit.zip?dl=1">Press Kit — ZIP</a></li>
    </ul>
	</div>
</div>
<!-- End Links -->

