---
layout: default
---

<div class="grid-container">
<div class="grid-x grid-padding-x">
	<div class="cell text-center">
  		<h2>General</h2>
  		<a href="mailto:{{page.general}}">{{page.general}}</a>

  		<h2>Press Inquiries</h2>
  		<a href="mailto:{{page.press-inquiries}}">{{page.press-inquiries}}</a>

  		<h2>Management</h2>
  		<a href="mailto:{{page.management}}">{{page.management}}</a>

  		<h2>Booking Agents</h2>
      <p>Please direct all film, licensing, or other requests to management</p>
      
  		<h2>Follow / Subscribe</h2>
      <ul class="vertical menu">
        <li><a href="{{site.social.twitter}}" target="_blank">Twitter</a></li>
        <li><a href="{{site.social.instagram}}" target="_blank">Instagram</a></li>
        <li><a href="{{site.social.facebook}}" target="_blank">Facebook</a></li>
        <li><a href="{{site.social.youtube}}" target="_blank">YouTube</a></li>
      </ul>

  		<h2>Colophon</h2>
      <a href="{{site.colophon}}" target="_blank">Gareth Johns Design + Development</a>
	</div>
</div>
</div>