---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>

<div class="grid-y align-justify {{page.layout | slugify}}"  data-aos="fade-in" style="height: 100%;">

  <div class="grid-x grid-padding-y align-center">
    <div class="shrink cell">
      <a href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
  </div>
  
  <div class="grid-x align-center">
    <div class="shrink cell">
    <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
    </div>
  </div>
  
  
  <div class="grid-x grid-padding-y align-center">
    <div class="small-12 cell">
      	<ul class="menu align-center text-center medium-text-left">
          <li><a href="{{site.social.twitter}}" target="_blank">Twitter</a></li>
          <li><a href="{{site.social.instagram}}" target="_blank">Instagram</a></li>
          <li><a href="{{site.social.facebook}}" target="_blank">Facebook</a></li>
        </ul>
    	</div>
  </div>

</div>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>